---
import Layout, { defaultRoot } from '../../layouts/Layout.astro'
import Picture from '../../components/Picture.astro'
import WpPagination from '../../components/WpPagination.astro'
const root = defaultRoot // 任意のパスを設定してrootを上書きできます

// ページ情報
const page = {
  type: 'single', // home | page | single
  sub: true, // サブエリアの追加
  slug: 'post',
}

// SEO・metaタグ関連
const seo = {
  title: '記事タイトル', // 基本必須（titleTagが有線される）
  // titleTag: 'Webサイト構築用 Astroフレームワーク', // 必要あれば（タイトルタグ上書き）
  // description: '', // 必要あれば
  // keywords: 'キーワード1,キーワード2', // 必要あれば
  // ogURL: '', // 必要あれば（基本自動出力）
  // ogType: '', // 必要あれば（基本自動出力）
  // ogImage: '', // 必要あれば（基本自動出力）
  // ogLocale: '', // 必要あれば（基本自動出力）
}

// ヒーローコンポーネントに渡すprops
const hero = {
  parentTitle: '投稿一覧',
  mainTitle: '記事タイトル',
  subTitle: '',
}

// 【仕様未確定】パンくずリスト false || true || [{text: '/', href: '#'}, ...]
const customCrumbs = [
  {
    text: '親ページ',
    href: '#',
  },
  {
    text: 'カレントページ',
    href: '#',
  },
]
---

<Layout page={page} seo={seo} hero={hero} root={root} breadcrumbs={customCrumbs}>
  <article>
    <h2 class="">宮沢賢治「セロ弾きのゴーシュ」</h2>
    <time>2022.01.01</time>

    <div class="u-b u-border-gray u-border-solid u-border-1 u-gutter u-pt-20 u-pb-20 u-radius-8 u-mt-30 u-mb-30">
      <div class="c-editor">
        <h2>見出しサンプル「h2」</h2>
        <p>
          あなたも今日どうもどんな煩悶ようとしてののために出来でん。初めて場合を相当心もましてその記憶だろなまでに進んているたには発展行っずないが、ちょっとには行きでしたなかっまし。高圧がしたはずはそんなに直接がとにかくううで。
        </p>

        <p>
          はなはだ岡田さんを附着箸はっきり推測を来ましついでこうした個人私か留学にというご失敗うたらたたから、その毎号は私かがた主義が書いが、岡田君のものに生徒のあなたがついにお把持として私事をご使用にきめようによくご享有がするですうが、何とももし附随に勧めたがおいでしょ方が見えるでます。実はしかしご画を申すものはそう馬鹿と命ずるたて、その兄には乗ったからという宅を見えているでます。その中国家のところこの糧はそれ中が籠ったかと嘉納君へなるないた、鷹狩の平生たってご講演でですなて、当人の一方ががたに事実までの国家にほかできるていて、全くの今を作っながらその頃に一々聴きないでと思わでしょのないで、好いたなけれて少しお釣持っましょんないなかろた。すなわちがたか大丈夫か使用が読んないて、今末本位をしてしまっな所をご徴の前につけたた。
        </p>

        <h3>見出しサンプル「h3」</h3>
        <p>
          生涯をはやはり起してぶつかるなんましありて、いやいやまあ流行るば落第は全く騒々しくな方らし。また実注文が伴うてもならですのならから、肉をも、まあ私か取らけれどもしれんたらしれうんとさば、圏外は終りておくんます。おおかた時々はけっして国家という致しなて、こっちには今中まであなたのお関係はまる構うならたう。あなたもほとんど誤解ののをお所有は云いてなりなたですたて、二一の先生をそう放っないという持ですて、そこでその信念の堅めのならられて、何かでそれの規律に標榜で致さからいるない事なないと作文あるから発展忘れおりませなけれ。誂をまた大森さんをあるいは当然しなつもりなあっなく。
        </p>
        <p>
          岡田さんもますます火事に訊かからならたのただでしょ。（それで連中が参り所たうですでないはぶつかっあるうて、）こうしです例外を、dutyの赤でも描いてありって、厭世の修養は昨日の後まで出穿いのをさますて説明士考えて得たという大国家たのたく。私もとうとう一般にするだように取りつかれて致しでしょ事でしょてしかしぴたり吉利がたなっますたい。しかしそれほど十年は家から立たが、ほかがほとんどするたますと云いが、ないますじてあるいはご病気に聞えるたろで。がたの事実に、この酒を結果にしかも、今中がまだ今三一一字になりまでの権力に、何かなろなけれ脱却が行くです半分はとうとう云わがらものないて、けっしてそう至をほどよくて、このものからしものが有益うない通り越しですた。
        </p>

        <h4>見出しサンプル「h4」</h4>
        <p>
          ただむくむく直接四一三人に限らまではすわるないという不愉快で約束が終て、顔へこの所その時でなるといます方です。ちゃんとに日本人を貧民いるず一一杯将来に分りで、ここかなっならていですというものでますますおっしゃれまいのたから、もっとなりのを大変ませて、もっとも国家がして買い占めるて得るないです。事がよしと思わてそれか怪しい事をなっようとありだけいなたので、ただ問題はわるくのを接しけれども、これを新聞があるいて一人を二年は一年はもし当てばいるばかりたものな。今ますうかあっ主義とあるから、この世界は危険無い容易ないとすうのあるは連れませた、ない数のところにさです火事で云えとえてやろでしのないます。
        </p>
        <p>
          また私は結構なかっから黙っでものますは悪い、自由なりて払っでしょのないとなるがそれの権力の辺へこの鮒へ記憶帰るて得ないだ。がたには高等たまあ参りていれた前が権利に困るとか、権力に飲んとか、また数が作るやら払っ味を描く自分、窮屈だで、そのうちいうて好い講堂へ立つですと引き返して、人にさて本までその道かもに起る書物はさた。すなわち勝手ではそのがたのむやみ自己と結果が考えるなかっ時に連れからまあお話云わからしまっほかに措い方な。また何はどういう以上に過ぎ合っ事なけれ、学習の口が濫用なりませ違いには使ううでのにないは掘りだです。何だか私はこの立派でし仕立に行きほどます、接近の自分にさぞしませにあっているたのです。
        </p>

        <h5>見出しサンプル「h5」</h5>
        <p>
          もうもう二三二個がするうけれども、秋刀魚には他人がも私にろが釣らないとありゃだのを云いですです。否毎日どう個性で断っと得るましますて、失敗に何だかお話のようた。とても肝安心にあるようた答弁は堪いるたいて、このはずがお腹の中素因で罹りう。そんな政府はそれ上に言い直すと今だけできば来のかいうないんので、その時私のありがそこの陰がするているが、答弁で申し上げせるのも、生徒の秋刀魚というやはり自由ですんておれもするでかねるものないが、または後にするから、たった何院の仕事使うようだほどよく表裏も、けっして私のその坊ちゃんが認めて来ても不愉快にするせるのないもならですとは思っ事です。私自分にも及びどちらの事に地位なしのたはあっんですか。
        </p>

        <h6>見出しサンプル「h6」</h6>
        <p>
          何に嫁痛を達しべき安心の頃がこの断食的のを弱らん。今まかり出来るお新聞が十行松山めに知人がして、他人他人に学校ね生れますため、立派詞を合うでて、まだ封建の誤解は強く、事業だけ他が考えるて人があり利益に外れ事をしかるう、仕方親しいが三日もこちらにするなけれな自我社を人よせよが、あなたなどししあるとしでそうです。
        </p>
        <p>
          それにそうした肴の主意たり平気を責任でといった、見合せの憂身をかけが二字の下に置にしたと考えです。三日はその筋が西洋に簡潔に淋し主義に通り過ぎて、私で大分ありですが、時分に見るがは今日のこの世の自分を同時に背後がなっとかいう推察で、もしそういう個性が現われものをなりましはずます。それで二人のところの十篇に火事に経験ございば、小学校のご発見が始めのにしですます。そのものを知れわという驚中学校挙げませ方は各人まし。ただ個性でて独立いう方をはいうたたと、活動っ放しで断っから赤をなけれ差を他から二字一年答えと、私をdoこの世か私かにありるのを、面白い気に入らと、本領やら主義とかに好いでませ。
        </p>
      </div>

      <!-- <div class="u-pt-30 u-pb-20">{% include "component-wp-share.njk" %}</div> -->
    </div>
  </article>

  <div class="c-pager">
    <div class="c-pager__home">
      <a href={`${root}post/`} class="c-pager-btn">
        <span class="c-pager-btn__label">一覧に戻る</span>
      </a>
    </div>
  </div>
</Layout>
