---
const { title, charset, seo, canonicalURL, siteName, urlOrigin, ogImage, locale, page, msapplicationTileColor, themeColor, favicon, appleTouchIcon } = Astro.props
---

<meta charset={charset} />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
<title>{title}</title>
{seo?.description && <meta name="description" content={seo?.description} />}
{seo?.keywords && <meta name="keywords" content={seo?.keywords} />}
<link rel="canonical" href={canonicalURL} />
<meta name="twitter:card" content="summary_large_image" />
<meta property="og:url" content={seo?.ogURL || canonicalURL} />
<meta property="og:locale" content={seo?.ogLocale || locale} />
<meta property="og:title" content={title} />
<meta property="og:type" content={seo?.ogType || page.type === 'home' ? 'website' : 'article'} />
<meta property="og:image" content={seo?.ogImage || `${urlOrigin}assets/images/${ogImage}`} />
<meta property="og:site_name" content={siteName} />
{seo?.description && <meta name="og:description" content={seo?.description} />}
<meta name="msapplication-TileColor" content={msapplicationTileColor} />
<meta name="theme-color" content={themeColor} />
<link rel="icon" href={`${urlOrigin}${favicon}`} />
<link rel="apple-touch-icon" href={`${urlOrigin}${appleTouchIcon}`} />
